<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>

<center>
    <div class="jumbotron">
        <h1>对没错</h1>
        <p>皇家理工数媒181专用交作业网络平台</p>
        <p>
            <a class="btn btn-primary btn-lg"  href="/" role="button">走去主页</a>
            <a class="btn btn-primary btn-lg"  href="/logout" role="button">退出登录</a>
        </p>
    </div>
</center>

</body>
</html>