<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>

<nav >

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" ><a href="/user/people">班级分组</a></li>

        <li role="presentation" class="active" ><a href="/homework/index">作业部分</a></li>
    </ul>


</nav>
<section>
    <br>
    <form sec:authorize="hasRole('admin')" class="form-inline"  action="/homework/plus" method="post">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">作业名称</label>
            <input type="text" required name="plus" class="form-control" id="exampleInputEmail3" placeholder="作业名称">
            <input type="datetime-local" name="endTime" required>
        </div>
        <button type="submit" class="btn btn-default">添加新的作业</button>
    </form>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-4" th:each="homework:${data}">
            <div class="thumbnail">
                <div class="caption">
                    <h3>[[${homework.homeworkName}]]</h3>

                    <p th:if="${homework.flag eq 0}" style="color: #0cb113">作业截止时间:<b>[[${homework.endTime}]]</b></p>
                    <p th:if="${homework.flag eq 1}" style="color: #ce0034">作业已经截止:<b>[[${homework.endTime}]]</b></p>
                    <p>
                        <a th:href="'/homework/toHomeworkUpload/'+${homework.homeworkName}" class="btn btn-primary" role="button">球球你,点我交作业吧</a>
                        <a sec:authorize="hasRole('admin')" th:href="'/homework/desc/'+${homework.homeworkName}" class="btn btn-danger" role="button">删除</a>
                    </p>
                    <p >
                        <form method="post" sec:authorize="hasRole('admin')" class="form-inline" action="/homework/update/time">
                            <input type="hidden" th:value="${homework.homeworkId}" name="id">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword3">时间</label>
                                <input required type="datetime-local" name="param" class="form-control" id="exampleInputPassword3" placeholder="选择时间">
                            </div>

                            <button type="submit" class="btn btn-default">修改时间</button>
                        </form>
                        <form method="post" sec:authorize="hasRole('admin')" class="form-inline" action="/homework/update/name">
                            <input type="hidden" th:value="${homework.homeworkId}" name="id">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword3">作业名称</label>
                                <input required type="text" name="param" class="form-control"  placeholder="修改作业名称">
                            </div>

                            <button type="submit" class="btn btn-default">修改名称</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
</body>

</html>